*.iml

.gradle

/local.properties

/.idea/libraries

/.idea/modules.xml

/.idea/workspace.xml

.DS_Store

/build

/captures

.externalNativeBuild

.idea

fastlane/.env

keys
.idea

app/releasefastlane/README.md
fastlane/report.xml
app/release 
fastlane/README.md
